.DS_Store

venv
.venv
.python-version

**/__pycache__/**
**.duckdb
**.db
**.sqlite3

docker-compose.override.yml

env.secret.db_password
db.env
env.sh

log/

.vscode
.idea
dummy_data/
scripts/
connection.json
connection_duckdb.json
connection_postgres.json

.coverage
htmlcov
