.DS_Store

venv
.venv
.python-version

**/__pycache__/**

docker-compose.override.yml

env.secret.db_password
db.env
env.sh

log/

.vscode
.idea
dummy_data/
scripts/
connection.json

.coverage
htmlcov
